/* Importa a fonte Chakra Petch do Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');

/* Estiliza o corpo da página */
body {
    font-family: "Chakra Petch", sans-serif;
    background-color: #515151;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    padding: 0;
    padding-bottom: 50px;
    position: relative; /* Torna o body relativo para o fundo */
    overflow-x: hidden; /* Impedir a barra de rolagem horizontal */
}

/* SEÇÃO MENU  */
nav {
    display: flex;
    justify-content: center; /* Centraliza os itens do menu horizontalmente */
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 50px; /* Define a altura mínima para 60 pixels */
    background-color: #070707;
    color: #f3eb7b;
    z-index: 999;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

nav li { /* Adiciona margem aos itens da lista */
    margin: 0 30px; /* Ajuste o valor 20px conforme necessário */
}

nav li a {
    margin: 0 10px;
    color: #f3eb7b;
    text-decoration: none; /* Remove o sublinhado */
    text-align: center;
    transition: color 0.3s ease;
}

nav li a:hover {
    color: #fff;
}

/* SEGÇÃO FUNDO DO SITE */
.fundo-transparente {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-image: url(imagens/fundo/sukuna-fundo.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    object-fit: cover; /* Ajusta a imagem para cobrir toda a área */
    opacity: 0.5;
}

/* SEÇÃO LOGO */
.logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
}

.logo {
    width: 400px;
    height: 130px;
}

/* Estiliza os títulos h1 */
h1 {
    font-size: 2.5rem;
    color: #222831;
    text-align: center;
    letter-spacing: 0.4rem;
}

p {
    color: #ddddd8;
}

/* Estiliza as seções da página */
section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 0 auto;
}

/* Estiliza os inputs dentro das seções */
section input {
    width: 30rem;
    max-width: 100%;
    border: 1px solid #f3eb7b;
    padding: 1rem;
    border-radius: 1.5rem;
    margin-bottom: 1rem;
    background-color: #070707;
    color: #f3eb7b;
    font-size: 1rem;
    box-sizing: border-box;
}

section input::placeholder {
    color: #515151;
}

/* Estiliza os botões dentro das seções */
section button {
    padding: 0.8rem 1.2rem;
    border: 1px solid #f3eb7b;
    border-radius: 1.5rem;
    background-color: #070707;
    color: #f3eb7b;
    font-size: 1rem;
    cursor: pointer;
}

section button:hover {
    background-color: #515151;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* SEÇÃO PARA EDITAR BOTÃO QUIZ */
button {
    padding: 0.8rem 1.2rem;
    border: 1px solid #f3eb7b;
    border-radius: 1.5rem;
    background-color: #070707;
    color: #f3eb7b;
    font-size: 0.9rem;
    cursor: pointer;
    text-align: center;
}

button:hover {
    background-color: #515151;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* SEÇÃO BOTÃO DE PESQUISA */
.pesquisa {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

section input {
    width: 30rem;
    flex-grow: 1;
}

.search-container button img {
    width: 14px;
    height: 14px;
    filter: invert(1);
}

/* SEÇÃO PARA OS RESULTADOS DA PESQUISA */
.resultados-pesquisa {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
    max-width: 80%;
    margin: 0 auto;
    padding-top: 2rem;
}

/* Cada item de resultado */
.resultado {
    width: 300px;
    margin: 10rem;
    background-color: #fff;
    padding: 1rem;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Estiliza cada item de resultado */
.item-resultado {
    background-color: #070707;
    border-radius: 0.6rem;
    padding: 1rem;
    margin-bottom: 1rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.item-resultado h2 {
    font-size: 1.5rem;
    color: #f3f2ea;
    font-weight: bold;
}

.item-resultado a {
    text-decoration: none;
    color: #f3eb7b;
    font-weight: bold;
}

.item-resultado a:hover {
    text-decoration: underline;
}

.descricao-meta {
    color: #e7e8eb;
    margin: 0.5rem 0;
}

/* Estiliza o rodapé da página */
footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: transparent;
    border-top: transparent;
    color: #f3eb7b;
    text-align: center;
    padding: 0.25rem 0;
    z-index: 999;
}

/* Adiciona espaço entre o formulário e o rodapé */
body {
    padding-bottom: 100px; /* Ajusta o valor conforme necessário */
}

/* Estiliza o texto dentro do rodapé */
footer p {
    color: #ffffff;
    margin: 0;
    line-height: 1.2;
    font-size: 0.9rem;
}

/* SEÇÃO QUIZZ */
.quiz-section {
    background-color: rgba(131, 131, 131, 0.5);
    border-radius: 10px;
    padding: 10px;
    width: 80%;
    max-width: 350px;
    margin: 20px auto;
    box-sizing: border-box;
    text-align: center;
    color: #fff;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
    margin-bottom: 50px;
}

.quiz-section p {
    color: rgb(211, 204, 204);
    font-size: 1.rem;
    font-weight: bold;
}

.quiz-section button {
    background-color: #070707;
    color: #f3eb7b;
    padding: 15px 18px;
    text-align: center;
    display: inline-block;
    font-size: 15px;
    margin: 4px 2px;
    cursor: pointer;
}

/* FORMULARIO */
#quizContainer {
    display: none;
    margin: 20px;
    padding: 20px;
    background-color: #070707;
    border-radius: 0.6rem;
    text-align: center;
    box-sizing: border-box;
}

#quizContainer h2 {
    margin-top: 0;
    color: #daa520;
}

#quizContainer .question {
    margin-bottom: 15px;
}

#quizContainer p {
    color: #f3eb7b;
}

#quizContainer label {
    display: block;
    margin: 10px 0;
    color: #949090;
}

#result {
    color: white;
    margin: 20px;
    font-size: 1.4rem;
}

/* Responsividade */
@media (max-width: 768px) {
    .quiz-section {
        width: 90%;
    }

    h1 {
        font-size: 2rem;
    }
}
